#window-chat {
  position: relative;
  width: 450px;
  min-height: 300px;
  
  margin: 0px auto;
}
  
#users {
  flex-direction: row;
  position: absolute;
  border: 1px solid #000;
  border-radius: 20px;
  background: rgb(251, 251, 251);
  width: 120px;
  min-height: 50px;
  max-height: 350px;
  margin: 30px 10px 0 10px;
  padding: 10px;

  vertical-align: bottom;
  white-space: pre;

  overflow: auto; /* полоса прокрутки */
}
  
.circle {
  width: 10px;
  height: 10px;
  border: 1px solid #000;
  border-radius: 10px;
}
  
.user {
  display: flex;
  justify-content: left;
  position: static;
}
  
.inline {
  display: inline;
}

.niсkYou {
  color: green;
}
  
/* Chat */
#chat {
  position: absolute;
  border: 1px solid #000;
  border-radius: 20px;
  background: rgb(251, 251, 251);
  min-width: 300px;
  min-height: 200px;
  margin: 20px 10px 0 120px;
}
  
.messages {
  margin: 10px;
  min-height: 134px;

  white-space: pre;
}

.message-you {
  right: 10px;
  text-align: right;
  /* border: 1px solid #000; */
  width: 260px;
  padding: 5px;
  margin: 2px;

  overflow: auto;
}

.message-not-mine {
  right: 10px;
  /* text-align: right; */
  /* border: 1px solid #000; */
  width: 200px;
  padding: 5px;
  margin: 2px;

  overflow: auto;
}
.messageText {
    overflow-wrap: break-word;
}

/* input */
.input-message {
  margin: 10px;
}
  
.input-text {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px;

  white-space: pre;
}
  
.form-input {
  display: flex;
  flex-direction: column;
}

.messageUser {
  font-size: 10px;
  font-weight: 800;
  color: green;
}
